:root{
    /* colors */
    --color-neutral: #fff;
    --color-black: #000;
    --color-primary: blue;
    --color-secondary: red;
    --color-tertiary: #aaa;
    --color-quaternary: green;

    /* border-radius */
    --br-1: 3px;
    --br-2: 6px;
    --br-3: 9px;
    --br-full: 9999px;
    
}

html, body{
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}


/* .card {
    background-color: #fff;
    border: 1px solid gray;
    padding: 32px;
    border-radius: 4px;
} */

