/* .input-group {
    border: 1px solid red;
} */

.label{
    display: block;
    color:var(--color-tertiary)
}

input {
    border-radius: var(--br-1);
    border: 1px solid var(--color-tertiary);
    width: 100%;
    padding: 5px 7px;
    
}
input:focus {
    outline: none;
}
