.btn {
    padding:7px 14px;
    border: 1px solid var(--color-tertiary);
    color: var(--color-black);
    border-radius:var(--br-1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(0.97);
    transition: 0.2s;
}

.bg-primary{
    background: var(--color-primary);
    color: var(--color-neutral);
}
.bg-secondary{
    background: var(--color-secondary);
    color: var(--color-neutral);
}
.bg-tertiary{
    background: var(--color-tertiary);
    color: var(--color-neutral);
}


.br-1{border-radius:var(--br-1);}
.br-2{border-radius:var(--br-2);}
.br-3{border-radius:var(--br-3);}
.br-full{border-radius:var(--br-full);}