.alert-box {
    width: auto;
    padding: 12px 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: var(--br-2);
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 16px;
    animation: slide-In 0.5s linear;
}
.alert-box.success {
    background-color: green;
}
.alert-box.error {
    background-color: var(--color-secondary);
}
.alert-box.warning{
    background-color: yellow;
    color:var(--color-black)
}
.alert-box.progress {
    background-color: blue;
}

@keyframes slide-In {
    from {
        opacity: 0.1;  
    } to {
        opacity: 1;
    }
}
